<footer class="footer footer-copyright text-center">
    <div class="container">
        <span class="text-muted">
            &copy; 2019 Copyright -
            <a class="text-reset" href="/about">CIM developers</a>
        </span>
    </div>
</footer>