@{
    ViewBag.Title = "Import Excel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Import Excel</h3>
            <div><a href="/Excel/ImportLocation">Import Location</a></div>
            <div><a href="/Excel/ImportArea"> Import Area</a></div>
            <div><a href="/Excel/ImportAsset"> Import Asset</a></div>
        </div>
        <div class="col-sm">
            <h3>Template</h3>
            <div><a href="/Excel/Download?filename=Location" target="_blank"> Download Location Template</a></div>
            <div><a href="/Excel/Download?filename=Area" target="_blank"> Download Area Template</a></div>
        </div>
    </div>
</div>