@using (Html.BeginForm("Search", "AssetTypes", FormMethod.Get, new { @class = "form-inline form-label-left mb-4 ", autocomplete = "off" }))
{
<div class="form-group mr-4">
    <label class="mr-3" for="asset">Asset Type: </label>
    <input type="search" class="form-control" id="SearchString" placeholder="Search..." value="@ViewBag.searchString" name="SearchString">
</div>

<div class="form-group">
    <!-- Submit button -->
    <button class="btn btn-primary" type="submit">Search</button>
</div>
<div class="form-group">
    <!-- Create button -->
    <a href="@Url.Action("Create")" class="btn btn-primary ml-2">Create</a>
</div>
}